table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	vertical-align: center;
}

th, td {
	padding: 5px;  
}

.judul{
	border: none;
}

tr:nth-child(even) {
	background-color: #fbfcf2;
}